@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.brand {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 3%;
}

.slider {
  width: 90vw;
  max-width: 128rem;

  .card {
    background-color: $bg-color-primary;
    width: calc(100% - 1.5rem) !important;
    border-radius: 1rem;
    padding: 2%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__containerInfo {
      margin-top: 5%;
      h3 {
        font-size: 2rem;
        font-weight: 500;
      }
      p {
        font-size: 1.4rem;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 15%;
      align-items: center;
      margin-block: 1.5rem;

      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0.3rem;
        padding-inline: 1.5rem;
        font-size: 1.8rem;
        transition: all 0.3s ease;

        &.card__about:hover {
          color: $text-color-primary;
          background-color: $bg-color-secondary;
          border: 2px solid $bg-color-secondary !important;
        }
      }
    }

    &__about {
      border: 2px solid rgb(180, 180, 180) !important;
      border-radius: 1rem;
    }
  }
}

.loading {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .slider {
    width: 83vw;
    
    .card{
      &__buttons{
        gap: 10%;
        button{
          padding: .5rem;
        }
      }
    }
  }
  .brand {
    margin-left: 0.8rem;
  }
}
